<div class="container margin-top-30">
            <div class="row">
                <div class="row  fadeIn animated" style="visibility: visible;">

                    <!--====================LEFT======================-->
                    <div class="col-md-8 col-sm-8  fadeIn animated" style="visibility: visible;">
                        <!--====================SLIDER======================-->
                        <%- include('pages/index/left/slider') -%>
                        <!--====================MARAQLI CATEGORY SECTION======================-->
                        <%- include('pages/index/left/maraqli') -%>
                        <!--====================ESAS XEBERLER CATEGORY SECTION================-->
                        <%- include('pages/index/left/esas-xeberler') -%>
                        <!--================IDMAN-KRIMINAL CATEGORIES SECTION=================-->
                        <%- include('pages/index/left/idman-kriminal') -%>
                        <!--====================DUNYA CATEGORY SECTION======================-->
                        <%- include('pages/index/left/dunya') -%>
					</div>

                    <!--====================RIGHT======================-->
                    <aside class="col-md-4 col-sm-4">
                        <!--====================LAYOUT-ASIDE-SOCIAL======================-->
                        <%- include('pages/index/right/social') -%>
                        <!--====================LAYOUT-ASIDE-2======================-->
                        <%- include('pages/index/right/bas-xeberler') -%>
                        <!--====================LAYOUT-ASIDE-3======================-->
                        <%- include('pages/index/right/valyuta') -%>
                        <!--====================LAYOUT-ASIDE-4======================-->
                        <%- include('pages/index/right/categories') -%>
                        <!--====================EN COX BAXILANLAR======================-->
                        <%- include('pages/index/right/en-cox-baxilanlar') -%>
                        <!--====================ADVERTSMENT======================-->
                        <%- include('pages/index/right/advertsment') -%>
				   </aside>
                </div>
            </div>
</div>

<!--====================VIDEOLAR======================-->
<%- include('pages/index/videolar.ejs') -%>

<!--====================ALT-HISSE======================-->
<div class="container  fadeIn animated" style="visibility: visible;">
<div class="row margin-bottom-30  fadeIn animated" style="visibility: visible;">
<!--====================ALT-SOL======================-->
<div class="col-md-8 col-sm-8 margin-bottom-30  fadeIn animated" style="visibility: visible;">
<%- include('pages/index/left/maraqli-alt') -%>
</div>
<!--====================ALT-SAG======================-->
<aside class="col-md-4 col-sm-4">

<!--====================SAGLAMLIQ======================-->
<%- include('pages/index/right/saglamliq') -%>

<!--====================ADVERTSMENT======================-->
<%- include('pages/index/right/advertsment') -%>

</aside>



</div>
</div>